{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="bg-light">
    <main class="container">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h1 class="h2 mb-3">Find the Best Tutor for You!</h1>
            <p class="lead">Welcome to our website! We help you find the best tutor for your specific needs. Whether you need a tutor for academic subjects, test preparation, or language learning, we have a wide range of experienced tutors to choose from. Simply search for a tutor based on your location, subject, and availability, and book a session that works for you.</p>
            <form class="d-flex" action="{% url 'blog-search' %}" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="content">
                <select class="form-select" name="search_type">
                    <option value="post" {% if search_type == "post" %}selected{% endif %}>Posts</option>
                    <option value="user" {% if search_type == "user" %}selected{% endif %}>Users</option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            {% if search_type == 'post' %}
                {% for post in posts_recent %}
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <a href="{{ post.user.get_user_url }}" style="text-decoration: none;">@{{post.user.username}}</a><span>. {{ post.date_created|timesince }} ago</span>
                            <div class="d-flex justify-content-between">
                            </div>
                            <a type="button" href="{% url 'blog-post-detail' id=post.id %}" style="width: 100%; text-decoration: none;">
                                <div class="d-flex justify-content-between" style="padding: 4px 4px 4px 0;">
                                    <strong class="text-dark">{{post.content|linebreaksbr}}</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% elif search_type == 'user' %}
                {% for user in users %}
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <a href="{{ user.get_user_url }}" style="text-decoration: none;">@{{user.username}}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </main>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
{% endblock %}